{
  "presets": [
      ["env", {
          "targets": {
              "browsers":["chrome", "firefox", "opera"],
              "uglify":false,
              "modules":false
          }
      }]
  ],
  "comments": false
}
