{
  "presets": [
      ["env", {
          "targets": {
              "browsers":[
                  "> 0.25%",
                  "last 8 versions",
                  "not ie <= 8",
                  "not op_mini all"
              ],
              "uglify":false,
              "modules":false
          }
      }]
    "stage-3"
  ],
  "comments": false
}
