# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# instructions
.github
node_modules
CONTRIBUTING.md
.DS_Store
out

#tests
tests
coverage
.nyc_output

#build tools
.babelrc
.travis.yml
.jenkins.yml
.codeclimate.yml
webpack.config.js

#linters
.jscsrc
.jshintrc
.eslintrc
.eslintrc.js

# ignore files
.gitignore
.eslintignore

# others
demo
.trash-later

#editor settings
.idea
.editorconfig